.basicInfo {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    border: 1px solid rgba(0, 0, 0, .05);
    border-radius: .375rem;
    background-color: #fff;
    background-clip: border-box;  
}

.profile button {
    margin-top: 15px;
    height: 40px;
    border: none;
    background-color:  dodgerblue;
    border-radius: 5px;
    color: white;
}

.profile button:hover {
    cursor: pointer;
    background-color: lightblue;
  }
