.preferenceForm label {
    display: inline-block; 
    float: left;
    width: 45%;
    text-align: right;
}

.preferenceForm select {
    display: inline-block; 
    margin-left: 5px;
    float:left;
    border: 2px solid dodgerblue; 
}
