.match {
  text-align: center;
  border: 2px solid rgb(0, 0, 0);
  border-spacing: 300px;
  width: 300px;
  height: 180px;
  font-weight: bold;
}

/* .match matchText{
  display: flext;
  align-items: center;
  width: 45%;
} */

.match button {
  margin: auto; 
  margin-top: 15px;
  clear: both; 
  width: 160px;
  height: 80px;
  border: none;
  background-color:  dodgerblue;
  border-radius: 5px;
  color: white;
}

.match button:hover {
    cursor: pointer;
    background-color: lightblue;
  }